@import url(./__edit-info/profile__edit-info.css);
@import url(./__info/profile__info.css);
@import url(./__avatar-button/profile__avatar-button.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__name/profile__name.css);
@import url(./__description/profile__description.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__button/profile__button.css);

.profile {
  display: flex;
  justify-content: start;
  width: 68.91%;
  max-width: 882px;
  margin: 40px auto 0;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 539px) {
  .profile {
    width: 88.12%;
  }
}
