.cards__like-button {
  background-image: url("../../../images/Vector.svg");
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  border: none;
  outline: none;
  width: 20.76px;
  height: 18.13px;
  padding-right: 10px;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.cards__like-button:hover {
  transition: 0.5s ease-in;
  opacity: 0.6;
}