.popup__error {
  position: absolute;
  opacity: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  margin: 0 36px 0;
  transition: 0.5s ease-out;
}

@media screen and (max-width: 539px) {
  .popup__error {
    margin: 0 20px 0;
    font-size: 9px;
    line-height: 8px;
  }
}