@import url(./__text/footer__text.css);

.footer {
  flex: 0 0 auto;
  width: 68.91%;
  max-width: 882px;
  margin: 66px auto 0;
  padding-bottom: 60px;
}

@media screen and (max-width: 539px) {
  .footer {
    width: 88.12%;
    margin: 48px auto 0;
    padding-bottom: 36px;
  }
}
