.cards__delete-button {
    display: none;
    background-image: url(../../../images/Trash.svg);
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 20px;
    margin-left: 250px;
}

.cards__delete-button:hover {
    transition: 0.5s ease-in;
    opacity: 0.6;
}

.cards__delete-button_active {
    display: flex; 
}