@import url(./__close-button/popup__close-button.css);
@import url(./__close-button/_image/popup__close-button_image_close.css);
@import url(./__container/popup__container.css);
@import url(./__header/popup__header.css);
@import url(./__input/popup__input.css);
@import url(./__input/_value/popup__input_value_name.css);
@import url(./__input/_value/popup__input_value_description.css);
@import url(./__input/_place/popup__input_place_image.css);
@import url(./__input/_place/popup__input_place_name.css);
@import url(./__input/_type/popup__input_type_error.css);
@import url(./__error/popup__error.css);
@import url(./__error/_position/popup__error_position_top.css);
@import url(./__error/_position/popup__error_position_bottom.css);
@import url(./__error/_visible/popup__error_visible.css);
@import url(./__save-button/popup__save-button.css);
@import url(./__save-button/_disabled/popup__save-button_disabled.css);
@import url(./__save-button/_position/popup__save-button_position_center.css);
@import url(./_card/popup_card_add.css);
@import url(./_image/popup_image_open.css);
@import url(./__image-container/popup__image-container.css);
@import url(./__image/popup__image.css);
@import url(./__caption/popup__caption.css);
@import url(./_delete/popup_delete_confirm.css);
.popup {
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s ease-in;
  z-index: 1;
  font-family: Inter, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}